<!DOCTYPE html>
<!--  ng-app is used to load the store module -->
<html ng-app="store">
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <title></title>
</head>
<!--  ng-controller is used to attach a controller to the body element for the store-->
<body ng-controller="StoreController as store">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <!--  pipe is used for a filter -->
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <div class="gallery" ng-show="product.images.length > 0" ng-controller="GalleryController as gallery">
        <div class="img-wrap">
          <img ng-src="{{product.images[gallery.current]}}" />
        </div>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>
      <section class="tab" ng-controller="TabController as tabCtrl">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tabCtrl.isSet(1) }">
            <a href ng-click="tabCtrl.setTab(1)">Description</a>
          </li>
          <li ng-class="{ active: tabCtrl.isSet(2) }">
            <a href ng-click="tabCtrl.setTab(2)">Specs</a>
          </li>
          <li ng-class="{ active: tabCtrl.isSet(3) }">
            <a href ng-click="tabCtrl.setTab(3)">Reviews</a>
          </li>
        </ul>
        <div ng-show="tabCtrl.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tabCtrl.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div ng-show="tabCtrl.isSet(3)">
          <h4>Reviews</h4>
          <blockquote></blockquote>
        </div>
    </li>
  </ul>
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="app/level2-app.js"></script>
</body>
</html>
