<!DOCTYPE html>
<!--  ng-app is used to load the store module -->
<html ng-app="store">
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css" />
  <title></title>
</head>
<!--  ng-controller is used to attach a controller to the body element for the store-->
<body ng-controller="StoreController as store">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <!--  pipe is used for a filter -->
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <div class="gallery" ng-show="product.images.length > 0" ng-controller="GalleryController as gallery">
        <div class="img-wrap">
          <img ng-src="{{product.images[gallery.current]}}" />
        </div>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>
      <section class="tab" ng-controller="TabController as tabCtrl">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tabCtrl.isSet(1) }">
            <a href ng-click="tabCtrl.setTab(1)">Description</a>
          </li>
          <li ng-class="{ active: tabCtrl.isSet(2) }">
            <a href ng-click="tabCtrl.setTab(2)">Specs</a>
          </li>
          <li ng-class="{ active: tabCtrl.isSet(3) }">
            <a href ng-click="tabCtrl.setTab(3)">Reviews</a>
          </li>
        </ul>
        <div ng-show="tabCtrl.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tabCtrl.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <!--  Reviews Tab -->
        <div ng-show="tabCtrl.isSet(3)">
          <ul style="list-style-type: none;">
            <h4>Reviews</h4>
            <li ng-repeat="review in product.reviews">
              <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
              </blockquote>
            </li>
          </ul>

          <!-- Review Form -->
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product, reviewForm)" novalidate>
            <!-- Live Preview -->
            <blockquote>
              <strong>{{reviewCtrl.review.stars}} Stars</strong>
              {{reviewCtrl.review.body}}
              <cite class="clearfix">-{{reviewCtrl.review.author}} on {{reviewCtrl.review.createdOn | date}}</cite>
            </blockquote>

            <!-- Review Form -->
            <h4>Submit a Review</h4>
            <fieldset class="form-group">
              <select ng-model="reviewCtrl.review.stars" required class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                <option value="">Rate the product</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <textarea ng-model="reviewCtrl.review.body" required  class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input ng-model="reviewCtrl.review.author" required type="email" class="form-control" placeholder="tk@example.org"/>
            </fieldset>
            <div>reviewForm is {{reviewForm.$valid}}</div>
            <fieldset class="form-group">
              <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
          </form>
        </div>
      </li>
    </ul>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="app/level3-app.js"></script>
  </body>
  </html>
